<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
    http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <sonar.java.source>${maven.compiler.source}</sonar.java.source>
                <sonar.java.target>${maven.compiler.target}</sonar.java.target>
                <sonar.host.url>http://sonar.keyboardplaying.org</sonar.host.url>
                <sonar.jdbc.url>jdbc:mysql://sonar.keyboardplaying.org:3306/sonar</sonar.jdbc.url>
                <sonar.jdbc.username>sonar</sonar.jdbc.username>
                <sonar.jdbc.password>sonar</sonar.jdbc.password>
            </properties>
        </profile>
    </profiles>
</settings>

